{form galleryForm}
	<fieldset>

		<div class="form_center">

			{label name /}
			{input name}

            {label priority /}
            {input priority}

			{label perex /}
			{input perex}

			{label is_public /}
			{input is_public}

		</div>

		<div class="form_bottom">
			{input save}
		</div>

	</fieldset>
{/form}