<div id="left_menu">
    <div class="left_column">
        <h2><span class="icon">&nbsp;</span>Strom dokumentů</h2>

        <form action="{plink Homepage:search}" method="get">
            <fieldset>
                <label class="blind" for="search">Vyhledávání</label>

                <p class="searching">
                    <input type="text" placeholder="hledám dokument" id="search" name="q"/>
                    <button type="submit">go</button>
                </p>
            </fieldset>
        </form>

        <div id="tree" class="dd">
            <ol class="dd-list menu_level_1">
                <li data-id="0" class="dd-item menu_item_level_1">
                        <a class="item dd-handle" href="#">
                            <span class="icon home">&nbsp;</span>
                            <span class="text">Home</span>
                        </a>
                        <ul class="options">
                            <li>
                                <a href="{plink Post:add 0}">
                                    <span class="icon add">&nbsp;</span>
                                    <span class="text">Přidat položku</span>
                                </a>
                            </li>
                            <li>
                                <a href="{plink Post:attachments 0, lang => $language}">
                                    <span class="icon add">&nbsp;</span>
                                    <span class="text">Přílohy</span>
                                </a>
                            </li>
                        </ul>
                    {if $menu}
                        {var $level = 2}
                        {block #menu}
                            <ol class="dd-list left_tree menu_level_{$level}">
                            {foreach $menu as $item}
                                <li class="dd-item{if $item->is_unfolded == 0} collapsed dd-collapsed{/if}" data-id="{$item->postId}" id="left-tree-item-{$item->postId}">

                                    <a class="{if $item->isPublic} public{else} nonpublic{/if} dd-handle item" href="#" title="{$item->title}">
                                        <span class="text">{if $level == 1}<strong>{/if}{$item->title}{if $level == 1}</strong>{/if}</span>
                                    </a>
                                       <ul class="options">
                                           <li>
                                               <a href="{plink Post:edit $item->postUrl, $item->lang}">
                                                   <span class="icon change">&nbsp;</span>
                                                   <span class="text">Upravit</span>
                                               </a>
                                           </li>
                                           <li>
                                               <a target="_blank" href="{plink :Post:detail $item->postUrl, $item->lang}">
                                                   <span class="icon change">&nbsp;</span>
                                                   <span class="text">Zobrazit</span>
                                               </a>
                                           </li>
                                           <li>
                                               <a class="dangerous-link"
                                                  data-warning="Smazáním této položky smažete i položky zařazené pod ní."
                                                  href="{plink Post:delete $item->postUrl, $item->lang}">
                                                   <span class="icon delete">&nbsp;</span>
                                                   <span class="text">Smazat</span>
                                               </a>
                                           </li>
                                           <li>
                                               <a href="{plink Post:add $item->postUrl}">
                                                   <span class="icon add">&nbsp;</span>
                                                   <span class="text">Přidat položku</span>
                                               </a>
                                           </li>
                                           <li>
                                               <a href="{plink Post:duplicate $item->postUrl, $item->lang}">
                                                   <span class="icon add">&nbsp;</span>
                                                   <span class="text">Duplikovat</span>
                                               </a>
                                           </li>

                                           {if $item->isPublic}
                                               <li>
                                                   <a href="{plink Post:unpublish $item->postUrl, $item->lang}">
                                                       <span class="icon nonpublic">&nbsp;</span>
                                                       <span class="text">Zneveřejnit</span>
                                                   </a>
                                               </li>
                                           {else}
                                               <li>
                                                   <a href="{plink Post:publish $item->postUrl, $item->lang}">
                                                       <span class="icon public">&nbsp;</span>
                                                       <span class="text">Uveřejnit</span>
                                                   </a>
                                               </li>
                                           {/if}
                                       </ul>

                                    {if $item->hasChildren()}
                                        {include #this, menu => $item->subItems, level => $level + 1}
                                    {/if}
                                </li>
                            {/foreach}
                            </ol>
                        {/block}
                    {/if}
                </li>
            </ol>
        </div>
    </div>
</div>