{block #content}
<section class="section-eshop">
	<div class="container">
		<h2>Shopping cart</h2>
		{control checkoutSteps}
		<form action="{plink Eshop:summary}" method="get">
			<fieldset>
				<div class="cart-steps">
					<span class="line">&nbsp;</span>
					<span class="active-line1">&nbsp;</span>
					<span class="active-line2">&nbsp;</span>
					<span class="step small active">
                                            <span class="number top">1</span>
                                            <span class="text">Products</span>
                                        </span>
					<span class="step left active">
                                            <span class="number top">2</span>
                                            <span class="text">Costumer information</span>
                                        </span>
					<span class="step right active">
                                            <span class="number">3</span>
                                            <span class="text">Payment and shipping</span>
                                        </span>
					<span class="step small">
                                            <span class="number">4</span>
                                            <span class="text">Complited</span>
                                        </span>
				</div>
				<div class="boxes">
					<div class="row small text-center">
						<h3>Choose payment method</h3>
						<a class="rounded-box payment1" href="#">
							<h4>Credit card</h4>
						</a>
						<a class="rounded-box payment2" href="#">
							<h4>PayPal</h4>
						</a>
						<a class="rounded-box payment3" href="#">
							<h4>Cash on delivery</h4>
						</a>
					</div>
					<div class="row large text-center">
						<h3>Choose shipping method</h3>
						<a class="rounded-box" href="#">
							<div class="inner">
								<h4>TNT</h4>
								<p>
									<input type="radio" checked name="shipping" id="shipping1-1"/>
									<label for="shipping1-1">Standart (7 days)</label>
									<span class="price">Free</span>
								</p>
								<p>
									<input type="radio" name="shipping" id="shipping1-2"/>
									<label for="shipping1-2">Express (2 days)</label>
									<span class="price">59 Kč</span>
								</p>
							</div>
						</a>
						<a class="rounded-box" href="#">
							<div class="inner">
								<h4>UPS</h4>
								<p>
									<input type="radio" checked name="shipping" id="shipping2-1"/>
									<label for="shipping2-1">Standart (7 days)</label>
									<span class="price">Free</span>
								</p>
								<p>
									<input type="radio" name="shipping" id="shipping2-2"/>
									<label for="shipping2-2">Express (2 days)</label>
									<span class="price">59 Kč</span>
								</p>
								<p>
									<input type="radio" name="shipping" id="shipping2-3"/>
									<label for="shipping2-3">Premium (1 day)</label>
									<span class="price">129 Kč</span>
								</p>
							</div>
						</a>
						<a class="rounded-box" href="#">
							<div class="inner">
								<h4>Cash on delivery</h4>
								<p>
									<input type="radio" name="shipping" id="shipping3-1"/>
									<label for="shipping3-1">Standart (7 days)</label>
									<span class="price">Free</span>
								</p>
							</div>
						</a>
					</div>
				</div>
				<div class="cart-final-price">
					<div class="half left pick-a-date">
						<h3>Deferred delivery</h3>
						<p>
							<label class="blind" for="deferred-delivery">Deferred delivery</label>
							<input type="text" value="{date("Y-m-d")}" name="deferred-delivery" id="deferred-delivery"
							       class="datepicker"/>
						</p>
					</div>
					<div class="half right">
						<p>Total price witout VAT: <strong>{$basketTotal|number:0:',':' '} Kč</strong></p>
						<p class="last">Total price: <span class="red">{$basketTotalWithVat|number:0:',':' '} Kč</span>
						</p>
					</div>
				</div>
				<div class="cart-buttons-bottom">
					<div class="left">
						<a class="link-text" href="#"><i class="fas fa-angle-double-left"></i> <span>Back to customer information</span></a>
					</div>
					<div class="right">
						<button type="submit" class="button red-filled">Continue</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</section>

