{block content}
<section class="section-eshop">
	<div class="container text-center">
		<div class="thank-you">
			<h2>YOUR REGISTRATION IS
				<br/><span class="black">SUCCESSFULLY COMPLETED</span></h2>
			<p>Check your email for confirm your registration.</p>
			<div class="row">
				<a class="button red-filled" n:href="Homepage:default">Back to homepage</a>
			</div>
		</div>
	</div>
</section>
{/block}