{block #content}
<section class="section-eshop">
	<div class="container">
		<h2>Shopping cart</h2>
		<form action="{plink Eshop:confirmation}">
			<fieldset>
				{control checkoutSteps}
				<div class="boxes">
					<div class="row summary">
						<h3>Summary</h3>
						<div class="third">
							<h4>Your cart</h4>
							<div class="rounded-box">
								<div class="inner">
									<div class="row">
										<p class="dots">
											<span class="left">Total price:</span>
											<span class="right red big">{$total} {$presenter->getCurrency()}</span>
										</p>
										<p class="dots">
											<span class="left">Total price without VAT:</span>
											<span class="right black big">{$totalWithoutVat} {$presenter->getCurrency()}</span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="third">
							<h4>Costumer information</h4>
							<div class="rounded-box">
								<div class="inner">
									<div class="row text-left">
										<p>
											<strong>{$order->name}</strong>{if $order->company}<br/>{/if}
											{$order->company}
										</p>
									</div>
									<div class="row text-left">
										<div class="half left">
											<p>{$order->street}
												<br/>{$order->city}
												<br/>{$order->zip}</p>
										</div>
										<div class="half right">
											<p>{$order->phone}
												<br/>{$order->email}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cart-buttons-bottom" style="text-align: center;">
					<a n:href="confirmOrder $order->id" class="button red-filled"
					                                    style="height: auto; line-height: 34px;">Place order</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>