{block #content}
	<div class="detail">

		<h2>Dashboard</h2>
		<p>Vítejte v systému pro správu obsahu Contrast CMS. Vlevo vidíte seznam dokumentů obsažených na Vašich webových stránkách, nahoře vidíte menu zahrnující moduly, které máte nainstalované.</p>

	</div>
{/block}