{form userForm}
	<fieldset>

		<div class="form_center">

			{label username /}
			{input username}

			{label password /}
			{input password}

			{label name /}
			{input name}

			{label surname /}
			{input surname}

            {input group_id}
            {label group_id /}

			{label email /}
			{input email}

			{label skype /}
			{input skype}

			{label phone /}
			{input phone}

		</div>

		<div class="form_bottom">
			{input save}
		</div>

	</fieldset>
{/form}