<!doctype html>
<html>

<head>
    <title>Contrast CMS 4.6</title>

    <meta charset="utf-8">
    <!--[if lt IE 9]>
    <script src="{$basePath}/js/libs/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="{$basePath}/backend/css/style.css"/>
    <link type="text/css" href="{$basePath}/backend/css/jquery-ui-1.10.1.custom.css" rel="stylesheet"/>
    <link type="text/css" href="{$basePath}/backend/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet"/>

    <script type="text/javascript">
        var imagesGetter = {plink File:imagesJson};
        var imageUploadUrl = {plink File:imageUploadAction};
        var fileUploadUrl = {plink File:fileUploadAction};
        var treeUrl =  {plink Post:moveItem};
        var basePath =  {$basePath};
        var treeStoageUrl =  {plink Post:saveCollapsion};
        var galleryAjaxUploadUrl =  {plink Gallery:ajaxUpload};
        var galleryDefaultUrl =  {plink Gallery:default};
    </script>
</head>

<body>
<div id="page" oncontextmenu="return false;">

    <header>
        <h1>CONTRAST <strong>CMS 4.6</strong></h1>
        <div class="user">
            <span class="divider">&nbsp;</span>
            {var $userData = $user->getIdentity()->getData()}
            <p>Welcome <strong>{$userData['name']} {$userData['surname']}</strong></p>
            <a n:href="Sign:logout">logout</a>
        </div>
    </header>

    <hr/>

    <div class="container">

    <section style="width: 96%">
        {control leftTree}
        <hr/>
        <div class="right_column">
            {control adminMenu}
            <hr/>
            {include #content}
        </div>
    </section>

    {control superadminSidebar}

    </div>

</div>

<div n:if="$flashes" id="flashes">
    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
</div>

{block scripts}
    <script type="text/javascript" src="{$basePath}/js/libs/jquery.min.js?v={$version}"></script>
    <script src="{$basePath}/js/libs/netteForms.js?v={$version}"></script>
    <script src="{$basePath}/js/libs/tablednd.min.js?v={$version}"></script>
    <script src="{$basePath}/backend/datetimepicker/jquery.datetimepicker.full.js?v={$version}"></script>
    <script src="{$basePath}/js/contrast/admin.js?v={$version}"></script>
    <script src="{$basePath}/backend/ckeditor/ckeditor.js?v={$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{$basePath}/js/libs/jquery.nestable.js"></script>
{/block}

</body>

</html>