<!doctype html>
<html>

<head>
	<title>Contrast 4.6</title>
	<meta charset="utf-8">

	<!--[if lt IE 9]><script src="{$basePath}/js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="{$basePath}/backend/css/style.css" />
</head>

<body>
<div id="page-login">

	<div id="content">
		{include #content}
	</div>
</div>

<div n:if="$flashes" id="flashes">
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
</div>

{block scripts}
    <script type="text/javascript" src="{$basePath}/js/libs/jquery.min.js?v={$version}"></script>
    <script src="{$basePath}/js/libs/netteForms.js?v={$version}"></script>
    <script src="{$basePath}/js/contrast/admin.js?v={$version}"></script>
    <script src="{$basePath}/backend/ckeditor/ckeditor.js?v={$version}"></script>
    <script type="text/javascript" src="{$basePath}/js/libs/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{$basePath}/js/libs/jquery.nestable.js"></script>
{/block}

</body>

</html>